dist: trusty
sudo: false
language: node_js
node_js:
  - 'stable'
cache:
  directories:
    - ./node_modules
branches:
  only:
    - master
    - develop
install:
  - pushd $TRAVIS_BUILD_DIR
  - npm install
script:
  - npm test
  - npm run build
notifications:
  email:
    recipients:
      - rajeyw@gmail.com
    on_failure: always
    on_success: always
